<?xml version='1.0' encoding='utf-8'?>
<widget id="com.voltbuilder.sample" xmlns="http://www.w3.org/ns/widgets" version="1.0.0">
  <name>Pine City Zoo</name>
  <description>About Animals and Places in the Pine City Zoo App.</description>
  <plugin name="cordova-plugin-device" />
  <access origin="*" />
</widget>